.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 97vh;
}


.cantaner {
  /* background-color: #282c34; */
  min-height: 20vh;
  display: flex;
  /* flex-direction: column; */
  gap: 15px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}

.but{
  width: 100px;
  background-color: crimson;
  color: white;
  padding: 8px 20px;
  margin: 5px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: large;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
}

.but:hover{
  width: 100px;
  background-color: darkcyan;
  padding: 10px 20px;
  margin: 5px;
  color: beige;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: large;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
}
